body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

label {
    font-weight: bold;
}

.container-main{
    width: 100%;
    position: absolute;
    height: 960px;
    margin: 0;
    top: 555px;
    transform: translate(0, -50%);
}

.container-cadastro{
    width: 50%;
    height: 100%;
    left: 50%;
    transform: translate(-50%);
    position: relative;
    background-color: bisque;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.container-header{
    width: 100%;
    height: 60px;
    background-color: #FFD89C;
    border-radius: 30px 30px 0 0;
    text-align: center;
}

.container-header p{
    position: relative;
    top: 25%;
    font-weight: bold;
}

.container-footer{
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 80px;
    background-color: #FFD89C;
    border-radius: 0 0 30px 30px;
}

.container-inputs{
    margin: 2%;
    display: inline-block;
}

.input-cadastro {
    padding: 7px;
    border: solid;
    border-width: 1px;
    border-color: #e5e5e5;
    outline: 5px;
    border-radius: 20px;
    margin:3%;  
    margin-left: -0.1%;  
}

.ip1{
    width: 90%;
    position: relative;
    margin-left: 0;
}

.div-esquerda{
    height: 100%;
    width: 50%;
    position: relative;
}

.div-direita{
    height: 25%;
    width: 50%;
    position: absolute;
    left: 50%;
}

.ip2{
    position: relative;
    width: 150px;
}
.ip4{
    width: 150px;
}
.ip3{
    width: 150px;
}
.ip5{
    width: 150px;
}

.label4{
    position: relative;
    margin-bottom:7%;
}

.label5{
    margin-bottom:6.7%;
}

.ip6{
    width: 90%;
}
.clas-et{
    padding: 9px;
    width: 150px;
    border-radius: 20px;
    border: solid;
    border-width: 1px;
    border-color: #e5e5e5;
}

.selectize-input{
    padding: 9px !important;
    width: 100% !important;
    border-radius: 20px !important;
    border: none !important;
    border-width: 1px !important;
    border-color: #e5e5e5;
}

.item{
    background-color: #E3F4F4 !important;
}

.text-area{
    width: 100%;
    height: 50%;
}

.ip7{
    margin-top:10px;
}

.ip2,
.ip3,
.ip4{
    margin-bottom: -3%;
}

.clas-et{
    margin-top: -15%; 
}

textarea{
    border: none;
    border-radius: 20px;
    width: 100%;
    padding: 7px;
    border: solid;
    border-width: 1px;
    border-color: #e5e5e5;
}

.div-trailer-stream{
    width: 100%;
}

.div-trailer{
    width: 45%;
    position: absolute;
    left: 2%;
}

.div-stream{
    margin-top: 3px;
    width: 50%;
    position: absolute;
    right: 0;
}

.div-imagem label{
    margin-top: 1%;
}

.clas-et-stream{
    width: 95%;
}

.input-video{
    padding: 7px;
    border-radius: 20px; 
    margin-left: 0.5%; 
    width: 100%;
    border: solid;
    border-width: 1px;
    border-color: #e5e5e5;
}

.botao-envio{
    position: relative;
    left: 50%;
    transform: translate(-50%);
    top: 15px;
    background-color: rgb(255, 171, 102);
    border: none;
    padding: 10px;
    width: 80px;
    border-radius: 7px;
    font-size: larger;
    color: white;
}

.botao-envio:hover {
    background-color: rgb(253, 162, 87) !important;
}

.botao-envio:focus {
    outline: rgb(250, 154, 76) solid 5px !important;
}

.textarea-imagem{
    min-height: 60px;
    max-height: 60px;
}

@media(max-width: 1650px){
    .container-cadastro{
        width: 70%;
    }
    .ip2,
    .ip3,
    .ip4,
    .ip5{
        width: 40%;
    }
}

@media(max-width: 1192px){
    .container-inputs{
        display: flow-root;
    }
    .div-esquerda{
        position: relative;
        width:100%;
    }
    .div-direita{
        width: 100%;
        left: 0;
        position: relative;
        /* display:block; */
    }
    .container-main{
        top: 630px;
        height: 1050px;
    }

    .ip2,
    .ip3,
    .ip4{
        margin-right: 15%;
    }
    .container-main{
        top: 650px;
        height: 1120px;
    }
}

@media(max-width: 782px){
    .ip2,
    .ip3,
    .ip5,
    .clas-et{
        margin-right: 230px;
    }
    .ip4{
        margin-top: -50px;
        margin-right: 300px;
    }
    .label2{
        margin-top: 20px;
    }
    .ip5{
        margin-top: -50px;
    }
    .clas-et{
        margin-top: 20px;
    }
    .container-cadastro{
        position: absolute;
        left: 50%;
        transform: translate(-50%);
    }
    .container-main{
        top: 690px;
        height: 1200px;
    }

}

@media(max-width:600px){
    .container-main{
        height: 1150px;
    }
}

