.div-desenho{
    position: relative;
    height: 500px;
    width: 50%;
    left: 50%;
    
    /*background-color: aqua;*/
}

.div-imagem{
    width: 70%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform:translate(-50%, -50%);
    /*background-color: aquamarine;*/
}

.imagem-desenho{
    top:50%;
    left: 50%;
    transform:translate(-50%);
    position: relative;
    height: 370px;
    max-height: 100%;
    /* max-width: 140%; */
    width: 100%;
    border-radius: 10px;
}

.trailer-desenho{
    border-radius: 10px;
    position: absolute;
    left: 50%;
    transform:translate(-50%); 
    height: 93.5%;
    max-height: 100%;
    /* max-width: 140%; */
    width: calc(96% + 2px);
    border-radius: 10px; 
    opacity: 0;
}

.div-imagem-trailer{
    position: relative;
    padding: 2%;
    border-radius: 20px;
    background-color: rgb(227, 173, 72);
}

.div-botoes{
    position: absolute;
    margin-top: -30px;
    margin-left: 5%;
    display: flex;
}

.opcao-imagem{
    padding-inline: 10px;
    border: none;
    margin: 0;
    font-weight: bold;
    font-size: 100%;
    background-color: rgb(227, 173, 72);
    color: white;
    border-radius: 6px 6px 0 0;
}

.opcao-trailer{
    padding-inline: 10px;
    border: none;
    margin: 0;
    font-weight: bold;
    font-size: 100%;
    background-color: rgb(227, 173, 72);
    color: white;
    border-radius: 6px 6px 0 0;
}

/* .div-botoes button::before{
    background-image: linear-gradient(180deg, rgb(255, 149, 0), rgb(227, 173, 72));
} */

.div-botoes button:focus{
    background-image: linear-gradient(180deg, rgb(255, 149, 0), rgb(227, 173, 72));
}

.div-informacoes{
    position: absolute;
    width: 50%;
    height: 500px;
}

.div-titulo{
    display: flex;
    width: 50%;
}

.titulo{
    font-size: 300%;
    left: 25%;
    position: relative;
    top:10%;
    max-width: 100%;
    font-weight: bold;
    margin-top: 8%;
}

.div-categorias{
    width: 70%;
    position: relative;
    left: 12.5%;
    display: flex;
    list-style-type: none;
    font-size: 100%;
}

.div-categorias li{
    margin-right: 1.5%;
    font-weight: bold;
}

.div-sinopse{
    position: relative;
    width: 80%;
    left: 50%;
    transform: translate(-50%);
    margin-top:40px;
    font-size: larger;
}

.div-sinopse label{
    font-size: 110%;
    text-decoration: underline;
}

.div-info-desenho{
    width: 50%;
    /*background-color: blue;*/
    position: relative;
    left: 50%;
}

.div-info-desenho ul{
    list-style-type: none;
    font-size: 120%;
    position: relative;
    text-align: end;
    right: 16%;
}

.div-streamings{
    margin-top: 50px;
    height: 300px;
    width: 100%;
}

.div-streamings p{
    font-size: 120%;
    text-decoration: underline;
    position: relative;
    width: 80%;
    left: 10%;
}

.div-streamings-imagens{
    display: flex;
}

.div-streamings-imagens img{
    height: 80px;
    margin-bottom: 15px;
    border-radius: 15px;
    
}

.div-streamings-imagens-apoio{
    position: relative;
    margin-left: 10%;
    text-align: center;
    font-size: 110%;
}


.linha-divisoria{
    width: 60%;
    background-color: rgb(205, 205, 205);
    position: relative;
    left: 40%;
    margin: 1%;
}

.div-sub{
    display: none;
}

.div-sub h5{
    text-decoration: underline;
    margin-top: -20%;
    margin-bottom: 30px;
    width:150%;
}

.icon-favorito{
    cursor: pointer;
    height: 40px;
    position: absolute;
    top: 0;
    left: 0;
    margin: 3%;
}

.icon-favorito-vermelho{
    height: 40px;
    position: absolute;
    top: 0;
    left: 0;
    margin: 3%;
}

.icon-favorito:hover{
    opacity: 0%;   
}

@media (max-width: 800px) {
    .div-imagem{
        max-width: calc(300px);
    }
    .div-desenho{
        left: 0;
        width: 100%;
        margin-top: 20px;
    }
    .imagem-desenho{
        max-width: calc(300px);
    }
    .div-informacoes{
        width: 100%;
    }
    .div-titulo{
        font-size: 70%;
    }
    .div-categorias{
        font-size: medium;
    }
    .div-sinopse{
        margin-top: 300px;
    }
    .div-info-desenho{
        display: none;
    }
    .div-sub{
        display: block;
        left: 15%;
    }
    .div-sub ul{
        text-align: start;
        width: 150%;
    }
    .linha-divisoria{
        left:0;
        width: 100%;
    }
    .icon-favorito{
        height: 30px;
        margin: 3%;
    }
    .icon-favorito-vermelho{
        height: 30px;
        margin: 3%;
    }
}

@media (max-width: 1135px){
    .estrela-favorito{
        height: 25px;
    }
    .icon-favorito,
    .icon-favorito-vermelho{
        height: 27px;
    }
}

@media (max-width: 1500px){
    .imagem-desenho{
        height: auto;
    }
}

@media(max-width:1077px){
    .opcao-imagem,
    .opcao-trailer{
        font-size: 80%;
    }

    .div-botoes{
        margin-top: -20px;
    }
    .imagem-desenho{
        border-radius: 15px;
    }
    .trailer-desenho{
        border-radius: 15px;
    }
}
