.div-desenho{
    position: relative;
    height: 500px;
    width: 50%;
    left: 50%;
    /*background-color: aqua;*/
}

.div-imagem{
    height: 100%;
    width: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform:translate(-50%, -50%);
    /*background-color: aquamarine;*/
}

.imagem-desenho{
    top:50%;
    left: 50%;
    transform:translate(-50%, -50%);
    position: relative;
    max-width: 140%;
}


.div-informacoes{
    position: absolute;
    width: 50%;
    height: 500px;
}

.div-titulo{
    display: flex;
    width: 50%;
}

.titulo{
    font-size: 300%;
    left: 25%;
    position: relative;
    top:10%;
    max-width: 100%;
    font-weight: bold;
    margin-top: 8%;
}

.div-categorias{
    width: 50%;
    position: relative;
    left: 12.5%;
    display: flex;
    list-style-type: none;
    font-size: 140%;
}

.div-categorias li{
    margin-right: 1.5%;
    font-weight: bold;
}

.div-sinopse{
    position: relative;
    width: 80%;
    left: 50%;
    transform: translate(-50%);
    margin-top:40px;
    font-size: larger;
}

.div-sinopse label{
    font-size: 110%;
    text-decoration: underline;
}

.div-info-desenho{
    width: 50%;
    /*background-color: blue;*/
    position: relative;
    left: 50%;
}

.div-info-desenho ul{
    list-style-type: none;
    font-size: 120%;
    position: relative;
    text-align: end;
    right: 16%;
}

.div-streamings{
    margin-top: 50px;
    height: 300px;
    width: 100%;
}

.div-streamings p{
    font-size: 120%;
    text-decoration: underline;
    position: relative;
    width: 80%;
    left: 10%;
}

.div-streamings-imagens{
    display: flex;
}

.div-streamings-imagens img{
    height: 80px;
    margin-bottom: 15px;
    border-radius: 15px;
    
}

.div-streamings-imagens-apoio{
    position: relative;
    margin-left: 10%;
    text-align: center;
    font-size: 110%;
}


.linha-divisoria{
    width: 60%;
    background-color: rgb(205, 205, 205);
    position: relative;
    left: 40%;
    margin: 1%;
}

.div-sub{
    display: none;
}

.div-sub h5{
    text-decoration: underline;
    margin-top: -20%;
    margin-bottom: 30px;
    width:150%;
}

@media (max-width: 800px) {
    .div-desenho{
        left: 0;
        width: 100%;
    }
    .imagem-desenho{
        
        max-width: calc(300px);
    }
    .div-informacoes{
        width: 100%;
    }
    .div-titulo{
        font-size: 70%;
    }
    .div-categorias{
        font-size: medium;
    }
    .div-sinopse{
        margin-top: 250px;
    }
    .div-info-desenho{
        display: none;
    }
    .div-sub{
        display: block;
        left: 15%;
    }
    .div-sub ul{
        text-align: start;
        width: 150%;
    }
    .linha-divisoria{
        left:0;
        width: 100%;
    }

}
