body{
    font-family: Arial, Helvetica, sans-serif;
}

.p-favoritos{
    font-size: 170%;
    font-weight: bold;
    margin: 3%;
}

.div-lista-desenho{
    display: flex;
    width:80%;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    margin-bottom: 3%;
    justify-content: start;
}

.div-desenho{
    margin-right: 20px;
}

.imagem-desenho{
    width:450px;
    height: 260px;
    position: relative;
    
}

.nome-desenho{
    margin: 5px;
    font-size: 130%;
}

.icon-favorito{
    height: 40px;
    position: absolute;
    margin: 0.8%;
    z-index: 1;
}

@media (max-width: 1600px){
    .imagem-desenho{
        width: 360px;
        height: 208px;
    }
    .nome-desenho{
        width: 360px;
    }
}

@media (max-width: 1340px){
    .imagem-desenho{
        width: 270px;
        height: 156px;
    }
    .nome-desenho{
        width: 270px;
    }
}

@media (max-width: 1108px){
    .div-lista-desenho{
        width: 100%;
        
    }
    .div-desenho{
        margin: 0;
        margin-left: 10px;
    }
}

@media (max-width: 884px){
    .div-lista-desenho{
        display: contents;
    }
    .div-desenho{
        max-width: 100%;
        padding: 5%;
    }
    .imagem-desenho{
        width: 360px;
        height: 208px;
    }
}

@media (max-width: 450px){
    .imagem-desenho{
        width: 270px;
        height: 156px;
    }
    .nome-desenho{
        font-size: 110%;
    }
}

