body{
    font-family: Arial, Helvetica, sans-serif;
}

.container-lista{
    margin: 0;
    position: absolute;
    width: 60%;
    height: auto;
    top: 200px;
    left: 3%;
}

.p-resultados{
    font-size: 170%;
    font-weight: bold;
    margin: 3%;
}

.historico-desenho{
    display: flex;
    width: 100%;
    margin-bottom: 30px;
}

.desenho{
    width: 300px;
    height: 150px;
    cursor: pointer;
}

.informacoes-historico p{
    max-width: 100%;
    font-size: 130%;
    position: relative;
    margin-bottom: -10px;
    left: 10px;
}

.titulo-desenho{
    font-weight: bold;
    width: 80%;
}

.excluir{
    position: absolute;
    height: 32px;
    right: 0;
    cursor: pointer;
}

.pesquisa-historico{
    position: absolute;
    width: 37%;
    height: 200px;
    top: 150px;
    right: 0;
}

.pesquisa-input{
    width: calc(100% + 10px);
    border-color: white;
    border-style: solid;
    background-color: white;
    position: relative;
    left: -5px;
    bottom: 1px;
    overflow: hidden;
    z-index: 0;
}

.div-input-pesquisa{
    position: relative;
    margin-top: 70px;
    margin-bottom: -70px;
}

.div-input-pesquisa img{
    position: absolute;
    right: 15%;
    height: 25px;
    top: -12px;
    cursor: pointer;
}

.div-lupa{
    z-index: 99999;
    padding: 10px;
    background-color: white;
}

.div-input{
    width: 70%;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: black; 
}

.limpar-historico{
    position: relative;
    left: 50%;
    top: calc(50% + 20px);
    transform: translate(-50%, -50%);
    background-color: rgb(255, 171, 102);
    border: none;
    border-radius: 20px;
    color: white;
    padding: 8px;
    font-size: 110%;
}

.limpar-historico:hover {
    background-color: rgb(253, 162, 87) !important;
}

.limpar-historico:focus {
    outline: rgb(250, 154, 76) solid 5px !important;
}

.pesquisa-input:focus {
    outline: none;
}

@media(max-width: 1454px){
    .informacoes-historico p{
        font-size: 100%;
    }
}
@media(max-width:1212px){
    .pesquisa-historico{
        position: relative;
        top: 0;
    }
    .container-lista{
        position: relative;
        top: 50px;
        width: 95%;
    }
}

@media(max-width: 468px){
    .pesquisa-historico{
        width: 75%; 
    }
    .pesquisa-input{
        bottom: 1px ;
    }
}