.vertical {
    border: 3px solid #FFD89C;
    height: 85%;
    position:absolute;
    left: 50%;
    margin-top: 2rem;
}

.login-container {
    width:30%;
    float: right;
}

.container-img {
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
}

.card-header {
    font-weight: bold;
    background-color: #FFD89C !important;
}

.card-body {
    background-color: bisque !important;
}

.card-footer {
    background-color: #FFD89C !important;
}

.container-login{
    position: absolute;
    width: 100%;
    left: 0%;
    top: 50%;
    transform: translate(0,calc(50% - 132px));
}

.card {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    position: relative !important; 
    right: 25%;
    transform:translate(50%, -50%);
}

.btn-login {
    background-color: rgb(255, 171, 102) !important;
    color: white !important;
}

.btn-login:hover {
    background-color: rgb(253, 162, 87) !important;
}

.btn-login:focus {
    outline: rgb(250, 154, 76) solid 5px !important;
}

.col-12 input {
    border-radius: 20px;
}

@media(max-width: 1100px){
    .vertical{
        display: none;
    }
    .container-img{
        position: absolute;
        top: 150px;
        left: 50%;
        
    }
    .container-img img{
        max-width: 100%;
    }
    .container-login{
        top: 380px;
        position: absolute;
    }
    .card{
        right: 50%;
        width: 70%;
    }
}