<div class="div-lista-desenhos">
    <div class="div-desenho">
        <img src="img/tokyo-ghoul.jpeg" class="imagem-desenho">
        <p class="nome-desenho">Tokyo Ghoul</p>
    </div>
    <div class="div-desenho">
        <img src="img/rezero.jpg" class="imagem-desenho">
        <p class="nome-desenho">RE: Zero</p>
    </div>
    <div class="div-desenho">
        <img src="img/tokyo-revengers.jpg" class="imagem-desenho">
        <p class="nome-desenho">Tokyo Revengers</p>
    </div>
</div>
<div class="div-lista-desenhos">
    <div class="div-desenho">
        <img src="img/tokyo-ghoul.jpeg" class="imagem-desenho">
        <p class="nome-desenho">Tokyo Ghoul</p>
    </div>
    <div class="div-desenho">
        <img src="img/rezero.jpg" class="imagem-desenho">
        <p class="nome-desenho">RE: Zero</p>
    </div>
    <div class="div-desenho">
        <img src="img/tokyo-revengers.jpg" class="imagem-desenho">
        <p class="nome-desenho">Tokyo Revengers</p>
    </div>
</div>